---
Language: Cpp
BasedOnStyle: LLVM
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: false
BinPackParameters: false
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: false
SpacesInSquareBrackets: false
SpacesInParentheses: false